<main>
    <section class="py-6 lg:pt-16 ">
        <div class="container max-w-md">
            <h2 class="tracking-wide text-2xl text-center mb-6">Sign in to smoothcode</h2>
            {{> errors}}
            <form method="POST" class="capitalize mt-4" action="/login" >
                <ul>
                    <li class="relative border-b focus-within:border-indigo-400">
                        <label for="username" class="block absolute top-2 left-2">Username</label>
                        <input type="text" id="username" name="username" autocomplete="off" required
                        class="block pt-8 pb-2 px-2 w-full outline-none focus:bg-gray-50" value="{{#if username}}{{username}}{{/if}}">
                    </li>

                    <li class="relative border-b focus-within:border-indigo-400">
                        <label for="password" class="block absolute top-2 left-2">Password</label>
                        <input type="password" id="password" name="password" autocomplete="off" required
                        class="block pt-8 pb-2 px-2 w-full outline-none focus:bg-gray-50">
                    </li>

                    <li><input type="hidden" name="_csrf" value="{{csrfToken}}"></li>
                    
                    <li class="text-center">
                        <input type="submit" name="login-btn" value="Sign in" class="inline mt-5 bg-indigo-500 text-white font-semibold hover:bg-indigo-700 py-2 px-4 rounded">
                    </li>
                </ul>
            </form>
        </div>
    </section>
</main>
