<main class="text-center">
    <!-- Title -->
    <section class="py-20 bg-gray-50">
        <div class="container">
            <h1 class="capitalize my-4 font-light md:font-extralight tracking-wide text-3xl sm:text-4xl md:text-6xl lg:text-6xl lg:tracking-wider">The code snippet website you've been waiting for</h1>
        </div>
    </section>
    <!-- Quick search -->
    <section class="py-10 bg-gradient-to-r from-green-400 to-blue-400">
        <div class="container">
            <div class="w-16 h-16 inline-block my-6"><img src="/static/img/search.png" alt="search icon"></div>
            <h2 class="capitalize tracking-wide text-2xl text-white">Quick search</h2>
            <p class="my-5 normal-case text-lg">Find a specific piece of code quickly</p>
        </div>
    </section>
    <!-- Categorize -->
    <section class="py-10 bg-gradient-to-r from-purple-400 to-yellow-600">
        <div class="container">
            <div class="w-16 h-16 inline-block my-6"><img src="/static/img/subfolder.png" alt="subfolder icon"></div>
            <h2 class="capitalize tracking-wide text-2xl text-white">Organized</h2>
            <p class="my-5 normal-case text-lg">Organized into branded folders</p>
        </div>
    </section>
</main>
